.cards {
   display: grid;
   @include grid(repeat(4, 1fr), 30px);
   grid-auto-flow: row;
   .card {
      @include flex(center, none, center);

      img {
         width: 60px;
         margin-right: $md;
      }
   }
}
